h1 {
    text-align: center;
    font-size: 70px;
    color: darkgreen;
}

p {
    margin-left: 195px;
    margin-right: 255px;
    text-align: justify;
    text-indent: 25px;
}

h2 {
    margin-left: 225px;
    color: brown;
}

h3 {
    text-align: center;
    
}

ul > li {
    color: blue;
    margin-left: 225px;
}

img {
    float: right;
    height: 20%;
    width: 20%;
    margin-left: 75px;
    padding-right: 100px;
    padding-left: 50px;
}

